<a href="https://colab.research.google.com/github/girishkuks/data_science/blob/main/Linear_Regression_Lasso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/girishkuks/data_science/refs/heads/main/Lasso.csv')

In [3]:
data

,Age,Experience,Education Level,Industry_Tech,Industry_Finance,Industry_Healthcare,City Tier,Position Level,Average Weekly Hours,Certifications,Gender,Marital Status,Salary (Target)
0,25,2,3,1,0,0,1,1,40,0,0,0,"50,000"
1,30,5,4,0,1,0,2,2,45,1,1,1,"70,000"
2,45,20,5,0,0,1,1,4,50,2,0,1,"1,20,000"
3,35,10,4,1,0,0,3,3,55,1,1,0,"85,000"
4,50,25,4,1,0,0,1,4,60,3,0,1,"1,30,000"
5,28,3,3,0,1,0,3,2,42,0,1,0,"60,000"
6,40,15,5,1,0,0,1,3,50,2,0,1,"95,000"
7,32,7,3,0,0,1,2,2,48,1,1,0,"75,000"
8,29,6,4,1,0,0,3,2,46,0,0,1,"68,000"
9,55,30,5,0,1,0,1,4,60,4,1,1,"1,40,000"

In [4]:
data.head()

,Age,Experience,Education Level,Industry_Tech,Industry_Finance,Industry_Healthcare,City Tier,Position Level,Average Weekly Hours,Certifications,Gender,Marital Status,Salary (Target)
0,25,2,3,1,0,0,1,1,40,0,0,0,"50,000"
1,30,5,4,0,1,0,2,2,45,1,1,1,"70,000"
2,45,20,5,0,0,1,1,4,50,2,0,1,"1,20,000"
3,35,10,4,1,0,0,3,3,55,1,1,0,"85,000"
4,50,25,4,1,0,0,1,4,60,3,0,1,"1,30,000"

In [5]:
data.dtypes

Age                      int64
Experience               int64
Education Level          int64
Industry_Tech            int64
Industry_Finance         int64
Industry_Healthcare      int64
City Tier                int64
Position Level           int64
Average Weekly Hours     int64
Certifications           int64
Gender                   int64
Marital Status           int64
Salary (Target)         object
dtype: object

In [6]:
data.columns

Index(['Age', 'Experience', 'Education Level', 'Industry_Tech',
       'Industry_Finance', 'Industry_Healthcare', 'City Tier',
       'Position Level', 'Average Weekly Hours', 'Certifications', 'Gender',
       'Marital Status', 'Salary (Target)'],
      dtype='object')

In [8]:
data.rename(columns = {'Salary (Target)': 'Salary'}, inplace = True)

In [9]:
data.columns

Index(['Age', 'Experience', 'Education Level', 'Industry_Tech',
       'Industry_Finance', 'Industry_Healthcare', 'City Tier',
       'Position Level', 'Average Weekly Hours', 'Certifications', 'Gender',
       'Marital Status', 'Salary'],
      dtype='object')

In [10]:
data['Salary'] = data['Salary'].str.replace(',','').astype(float)

In [11]:
data.head()

,Age,Experience,Education Level,Industry_Tech,Industry_Finance,Industry_Healthcare,City Tier,Position Level,Average Weekly Hours,Certifications,Gender,Marital Status,Salary
0,25,2,3,1,0,0,1,1,40,0,0,0,50000.0
1,30,5,4,0,1,0,2,2,45,1,1,1,70000.0
2,45,20,5,0,0,1,1,4,50,2,0,1,120000.0
3,35,10,4,1,0,0,3,3,55,1,1,0,85000.0
4,50,25,4,1,0,0,1,4,60,3,0,1,130000.0

In [27]:
data.corr()

,Age,Experience,Education Level,Industry_Tech,Industry_Finance,Industry_Healthcare,City Tier,Position Level,Average Weekly Hours,Certifications,Gender,Marital Status,Salary
Age,1.000000,0.997253,0.735139,-1.138873e-01,0.051964,0.082827,-5.843066e-01,0.944694,0.895254,0.973390,-0.093180,5.832919e-01,0.994343
Experience,0.997253,1.000000,0.737778,-7.547855e-02,0.025883,0.064696,-5.986377e-01,0.932362,0.889083,0.966597,-0.140174,5.986718e-01,0.991145
Education Level,0.735139,0.737778,1.000000,0.000000e+00,0.000000,0.000000,-4.442617e-01,0.770752,0.588983,0.705668,-0.258199,7.905694e-01,0.746040
Industry_Tech,-0.113887,-0.075479,0.000000,1.000000e+00,-0.654654,-0.500000,1.273513e-17,-0.099504,0.091245,-0.156174,-0.600000,-1.133117e-17,-0.125774
Industry_Finance,0.051964,0.025883,0.000000,-6.546537e-01,1.000000,-0.327327,1.501879e-01,-0.021713,-0.059734,0.136320,0.654654,8.908708e-02,0.015578
Industry_Healthcare,0.082827,0.064696,0.000000,-5.000000e-01,-0.327327,1.000000,-1.720618e-01,0.149256,-0.045622,0.039043,0.000000,-1.020621e-01,0.139371
City Tier,-0.584307,-0.598638,-0.444262,1.273513e-17,0.150188,-0.172062,1.000000e+00,-0.410899,-0.310506,-0.644917,0.458831,-4.214636e-01,-0.559154
Position Level,0.944694,0.932362,0.770752,-9.950372e-02,-0.021713,0.149256,-4.108989e-01,1.000000,0.874630,0.870233,-0.099504,5.687111e-01,0.963653
Average Weekly Hours,0.895254,0.889083,0.588983,9.124486e-02,-0.059734,-0.045622,-3.105063e-01,0.874630,1.000000,0.874003,0.060830,4.159646e-01,0.894422
Certifications,0.973390,0.966597,0.705668,-1.561738e-01,0.136320,0.039043,-6.449169e-01,0.870233,0.874003,1.000000,0.000000,5.738190e-01,0.955055
Gender,-0.093180,-0.140174,-0.258199,-6.000000e-01,0.654654,0.000000,4.588315e-01,-0.099504,0.060830,0.000000,1.000000,-4.082483e-01,-0.112177
Marital Status,0.583292,0.598672,0.790569,-1.133117e-17,0.089087,-0.102062,-4.214636e-01,0.568711,0.415965,0.573819,-0.408248,1.000000e+00,0.605062
Salary,0.994343,0.991145,0.746040,-1.257740e-01,0.015578,0.139371,-5.591540e-01,0.963653,0.894422,0.955055,-0.112177,6.050620e-01,1.000000

In [38]:
X = data.drop(['Salary'], axis = 1)
Y = data['Salary']

In [31]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

scalar = StandardScaler()

X_scaled = scalar.fit_transform(X)

X_train, X_test, Y_train, Y_test = train_test_split(X_scaled,Y,random_state=42, test_size=0.2)

In [40]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

from sklearn.linear_model import LinearRegression

# Initialize and fit the model
model = LinearRegression()
model.fit(X_train, Y_train)


from sklearn.linear_model import Lasso

# Initialize the Lasso model with a chosen alpha value
lasso = Lasso(alpha=1.0)
lasso.fit(X_train, Y_train)

# Retrieve and print Lasso coefficients
print("Lasso Coefficients:", lasso.coef_)

from sklearn.metrics import mean_squared_error, r2_score

# Linear regression predictions
y_pred_linear = model.predict(X_test)
mse_linear = mean_squared_error(Y_test, y_pred_linear)
r2_linear = r2_score(Y_test, y_pred_linear)

# Lasso predictions
y_pred_lasso = lasso.predict(X_test)
mse_lasso = mean_squared_error(Y_test, y_pred_lasso)
r2_lasso = r2_score(Y_test, y_pred_lasso)

print("Linear Regression MSE:", mse_linear, "R^2:", r2_linear)
print("Lasso Regression MSE:", mse_lasso, "R^2:", r2_lasso)

Lasso Coefficients: [22908.96400756 -8954.77976609 -1740.85156042 -5782.50100565
 18049.57441345 -2913.00143895  6677.95173667 -7616.76648141]
Linear Regression MSE: 498537831.4558623 R^2: -497.53783145586226
Lasso Regression MSE: 497828996.804296 R^2: -496.828996804296

In [33]:
print("Intercept:", model.intercept_)
print("Coefficients:", model.coef_)

Intercept: 85107.81774823999
Coefficients: [ 7862.20739958 -1062.33940997 -2354.06801646 -5498.55414546
 21609.96401953 -3996.83500133 12219.47464714 -7668.68469601]